
extends layout


append styles
  link(rel='stylesheet', type='text/css', href='/style/index.css')

append scripts
  script(src="/scripts/utt_game.js")

block content

  #left_column.column.side_column
    ul#user_list
      lh Users
      li us1
      li us2

  #right_column.column.side_column
    ul#game_list
      lh Games
      li game 1
      li game 2

  #center_column.column
    h1 Play Tic Tac Toe!!

    include tic_tac_toe_board



