
extends layout


append styles
  link(rel='stylesheet', type='text/css', href='/styl/index.css')

append scripts
  script(src="/js/utt_game.js")

block content


  #c_row.row

    #left_col.span3
      ul#l_list0
        li item 1

    #center_col.span6
      h1 Play Tic Tac Toe!!

      include tic_tac_toe_board

    #right_col.span3
      ul#game_list
       lh Games

  #bottom_row.row

    #button_wrap.span12    
      button#play_button.btn.btn-primary.btn-larger PLAY!


