
table#tic_tac_toe_board
  tr

    td#square_00.top.left

      table#ttt_sboard_00.sub_board
        tr
          td#square_0000.top.left
          td#square_0001.top.center
          td#square_0002.top.right
        tr
          td#square_0010.middle.left
          td#square_0011.middle.center
          td#square_0012.middle.right
        tr
          td#square_0020.bottom.left
          td#square_0021.bottom.center
          td#square_0022.bottom.right

    td#square_01.top.center

      table#ttt_sboard_01.sub_board
        tr
          td#square_0100.top.left
          td#square_0101.top.center &#x00D7;
          td#square_0102.top.right
        tr
          td#square_0110.middle.left
          td#square_0111.middle.center
          td#square_0112.middle.right
        tr
          td#square_0120.bottom.left
          td#square_0121.bottom.center
          td#square_0122.bottom.right

    td#square_02.top.right

      table#ttt_sboard_02.sub_board
        tr
          td#square_0200.top.left
          td#square_0201.top.center
          td#square_0202.top.right
        tr
          td#square_0210.middle.left
          td#square_0211.middle.center
          td#square_0212.middle.right
        tr
          td#square_0220.bottom.left
          td#square_0221.bottom.center
          td#square_0222.bottom.right

  tr

    td#square_10.middle.left

      table#ttt_sboard_10.sub_board
        tr
          td#square_1000.top.left
          td#square_1001.top.center
          td#square_1002.top.right
        tr
          td#square_1010.middle.left
          td#square_1011.middle.center
          td#square_1012.middle.right
        tr
          td#square_1020.bottom.left
          td#square_1021.bottom.center
          td#square_1022.bottom.right

    td#square_11.middle.center

      table#ttt_sboard_11.sub_board
        tr
          td#square_1100.top.left
          td#square_1101.top.center
          td#square_1102.top.right
        tr
          td#square_1110.middle.left
          td#square_1111.middle.center
          td#square_1112.middle.right
        tr
          td#square_1120.bottom.left
          td#square_1121.bottom.center
          td#square_1122.bottom.right

    td#square_12.middle.right

      table#ttt_sboard_12.sub_board
        tr
          td#square_1200.top.left
          td#square_1201.top.center
          td#square_1202.top.right
        tr
          td#square_1210.middle.left
          td#square_1211.middle.center
          td#square_1212.middle.right
        tr
          td#square_1220.bottom.left
          td#square_1221.bottom.center
          td#square_1222.bottom.right

  tr

    td#square_20.bottom.left

      table#ttt_sboard_20.sub_board
        tr
          td#square_2000.top.left
          td#square_2001.top.center
          td#square_2002.top.right
        tr
          td#square_2010.middle.left
          td#square_2011.middle.center
          td#square_2012.middle.right
        tr
          td#square_2020.bottom.left
          td#square_2021.bottom.center
          td#square_2022.bottom.right

    td#square_21.bottom.center

      table#ttt_sboard_21.sub_board
        tr
          td#square_2100.top.left
          td#square_2101.top.center
          td#square_2102.top.right
        tr
          td#square_2110.middle.left
          td#square_2111.middle.center
          td#square_2112.middle.right
        tr
          td#square_2120.bottom.left
          td#square_2121.bottom.center
          td#square_2122.bottom.right

    td#square_22.bottom.right

      table#ttt_sboard_22.sub_board
        tr
          td#square_2200.top.left
          td#square_2201.top.center
          td#square_2202.top.right
        tr
          td#square_2210.middle.left
          td#square_2211.middle.center
          td#square_2212.middle.right
        tr
          td#square_2220.bottom.left
          td#square_2221.bottom.center
          td#square_2222.bottom.right
