
table#tic_tac_toe_board
  tr

    td#sqaure_11.top.left

      table#ttt_sboard_11.sub_board
        tr
          td#sqaure_1111.top.left
          td#sqaure_1112.top.center
          td#sqaure_1113.top.right
        tr
          td#sqaure_1121.middle.left
          td#sqaure_1122.middle.center
          td#sqaure_1123.middle.right
        tr
          td#sqaure_1131.bottom.left
          td#sqaure_1132.bottom.center
          td#sqaure_1133.bottom.right

    td#sqaure_12.top.center

      table#ttt_sboard_12.sub_board
        tr
          td#sqaure_1211.top.left
          td#sqaure_1212.top.center &#x00D7;
          td#sqaure_1213.top.right
        tr
          td#sqaure_1221.middle.left
          td#sqaure_1222.middle.center
          td#sqaure_1223.middle.right
        tr
          td#sqaure_1231.bottom.left
          td#sqaure_1232.bottom.center
          td#sqaure_1233.bottom.right

    td#sqaure_13.top.right

      table#ttt_sboard_13.sub_board
        tr
          td#sqaure_1311.top.left
          td#sqaure_1312.top.center
          td#sqaure_1313.top.right
        tr
          td#sqaure_1321.middle.left
          td#sqaure_1322.middle.center
          td#sqaure_1323.middle.right
        tr
          td#sqaure_1331.bottom.left
          td#sqaure_1332.bottom.center
          td#sqaure_1333.bottom.right

  tr

    td#sqaure_21.middle.left

      table#ttt_sboard_21.sub_board
        tr
          td#sqaure_2111.top.left
          td#sqaure_2112.top.center
          td#sqaure_2113.top.right
        tr
          td#sqaure_2121.middle.left
          td#sqaure_2122.middle.center
          td#sqaure_2123.middle.right
        tr
          td#sqaure_2131.bottom.left
          td#sqaure_2132.bottom.center
          td#sqaure_2133.bottom.right

    td#sqaure_22.middle.center

      table#ttt_sboard_22.sub_board
        tr
          td#sqaure_2211.top.left
          td#sqaure_2212.top.center
          td#sqaure_2213.top.right
        tr
          td#sqaure_2221.middle.left
          td#sqaure_2222.middle.center
          td#sqaure_2223.middle.right
        tr
          td#sqaure_2231.bottom.left
          td#sqaure_2232.bottom.center
          td#sqaure_2233.bottom.right

    td#sqaure_23.middle.right

      table#ttt_sboard_23.sub_board
        tr
          td#sqaure_2311.top.left
          td#sqaure_2312.top.center
          td#sqaure_2313.top.right
        tr
          td#sqaure_2321.middle.left
          td#sqaure_2322.middle.center
          td#sqaure_2323.middle.right
        tr
          td#sqaure_2331.bottom.left
          td#sqaure_2332.bottom.center
          td#sqaure_2333.bottom.right

  tr

    td#sqaure_31.bottom.left

      table#ttt_sboard_31.sub_board
        tr
          td#sqaure_3111.top.left
          td#sqaure_3112.top.center
          td#sqaure_3113.top.right
        tr
          td#sqaure_3121.middle.left
          td#sqaure_3122.middle.center
          td#sqaure_3123.middle.right
        tr
          td#sqaure_3131.bottom.left
          td#sqaure_3132.bottom.center
          td#sqaure_3133.bottom.right

    td#sqaure_32.bottom.center

      table#ttt_sboard_32.sub_board
        tr
          td#sqaure_3211.top.left
          td#sqaure_3212.top.center
          td#sqaure_3213.top.right
        tr
          td#sqaure_3221.middle.left
          td#sqaure_3222.middle.center
          td#sqaure_3223.middle.right
        tr
          td#sqaure_3231.bottom.left
          td#sqaure_3232.bottom.center
          td#sqaure_3233.bottom.right

    td#sqaure_33.bottom.right

      table#ttt_sboard_33.sub_board
        tr
          td#sqaure_3311.top.left
          td#sqaure_3312.top.center
          td#sqaure_3313.top.right
        tr
          td#sqaure_3321.middle.left
          td#sqaure_3322.middle.center
          td#sqaure_3323.middle.right
        tr
          td#sqaure_3331.bottom.left
          td#sqaure_3332.bottom.center
          td#sqaure_3333.bottom.right
