
table#tic_tac_toe_board
  tr

    td#square_11.top.left

      table#ttt_sboard_11.sub_board
        tr
          td#square_1111.top.left
          td#square_1112.top.center
          td#square_1113.top.right
        tr
          td#square_1121.middle.left
          td#square_1122.middle.center
          td#square_1123.middle.right
        tr
          td#square_1131.bottom.left
          td#square_1132.bottom.center
          td#square_1133.bottom.right

    td#square_12.top.center

      table#ttt_sboard_12.sub_board
        tr
          td#square_1211.top.left
          td#square_1212.top.center &#x00D7;
          td#square_1213.top.right
        tr
          td#square_1221.middle.left
          td#square_1222.middle.center
          td#square_1223.middle.right
        tr
          td#square_1231.bottom.left
          td#square_1232.bottom.center
          td#square_1233.bottom.right

    td#square_13.top.right

      table#ttt_sboard_13.sub_board
        tr
          td#square_1311.top.left
          td#square_1312.top.center
          td#square_1313.top.right
        tr
          td#square_1321.middle.left
          td#square_1322.middle.center
          td#square_1323.middle.right
        tr
          td#square_1331.bottom.left
          td#square_1332.bottom.center
          td#square_1333.bottom.right

  tr

    td#square_21.middle.left

      table#ttt_sboard_21.sub_board
        tr
          td#square_2111.top.left
          td#square_2112.top.center
          td#square_2113.top.right
        tr
          td#square_2121.middle.left
          td#square_2122.middle.center
          td#square_2123.middle.right
        tr
          td#square_2131.bottom.left
          td#square_2132.bottom.center
          td#square_2133.bottom.right

    td#square_22.middle.center

      table#ttt_sboard_22.sub_board
        tr
          td#square_2211.top.left
          td#square_2212.top.center
          td#square_2213.top.right
        tr
          td#square_2221.middle.left
          td#square_2222.middle.center
          td#square_2223.middle.right
        tr
          td#square_2231.bottom.left
          td#square_2232.bottom.center
          td#square_2233.bottom.right

    td#square_23.middle.right

      table#ttt_sboard_23.sub_board
        tr
          td#square_2311.top.left
          td#square_2312.top.center
          td#square_2313.top.right
        tr
          td#square_2321.middle.left
          td#square_2322.middle.center
          td#square_2323.middle.right
        tr
          td#square_2331.bottom.left
          td#square_2332.bottom.center
          td#square_2333.bottom.right

  tr

    td#square_31.bottom.left

      table#ttt_sboard_31.sub_board
        tr
          td#square_3111.top.left
          td#square_3112.top.center
          td#square_3113.top.right
        tr
          td#square_3121.middle.left
          td#square_3122.middle.center
          td#square_3123.middle.right
        tr
          td#square_3131.bottom.left
          td#square_3132.bottom.center
          td#square_3133.bottom.right

    td#square_32.bottom.center

      table#ttt_sboard_32.sub_board
        tr
          td#square_3211.top.left
          td#square_3212.top.center
          td#square_3213.top.right
        tr
          td#square_3221.middle.left
          td#square_3222.middle.center
          td#square_3223.middle.right
        tr
          td#square_3231.bottom.left
          td#square_3232.bottom.center
          td#square_3233.bottom.right

    td#square_33.bottom.right

      table#ttt_sboard_33.sub_board
        tr
          td#square_3311.top.left
          td#square_3312.top.center
          td#square_3313.top.right
        tr
          td#square_3321.middle.left
          td#square_3322.middle.center
          td#square_3323.middle.right
        tr
          td#square_3331.bottom.left
          td#square_3332.bottom.center
          td#square_3333.bottom.right
