

.column
  margin 0 1%

  ul
    list-style-type none
    margin 0
    padding 0

    lh
      font 14pt bold Times
      padding 5px 3px 
      margin 2px 0 5px
      border-bottom medium #4A53A6 solid
      display block

    li
      font 12pt Helvetica, sans-serif
      
.side_column
  width 18%


#left_column
  float left

#right_column
  float right

#center_column
  overflow hidden
  text-align center
